
from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from empleos.api_client import ApiClient

class CentroComunitarioApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def centrocomunitario_find_by_bancode_alimento_id_banco_alimentos_get(self, id_banco_alimentos, **kwargs):  # noqa: E501
        """Lista los centros comunitarios asignados al banco de alimentos  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.centrocomunitario_find_by_bancode_alimento_id_banco_alimentos_get(id_banco_alimentos, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id_banco_alimentos: (required)
        :return: list[CentroComunitario]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.centrocomunitario_find_by_bancode_alimento_id_banco_alimentos_get_with_http_info(id_banco_alimentos, **kwargs)  # noqa: E501
        else:
            (data) = self.centrocomunitario_find_by_bancode_alimento_id_banco_alimentos_get_with_http_info(id_banco_alimentos, **kwargs)  # noqa: E501
            return data

    def centrocomunitario_find_by_bancode_alimento_id_banco_alimentos_get_with_http_info(self, id_banco_alimentos, **kwargs):  # noqa: E501
        """Lista los centros comunitarios asignados al banco de alimentos  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.centrocomunitario_find_by_bancode_alimento_id_banco_alimentos_get_with_http_info(id_banco_alimentos, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id_banco_alimentos: (required)
        :return: list[CentroComunitario]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_banco_alimentos']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method centrocomunitario_find_by_bancode_alimento_id_banco_alimentos_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id_banco_alimentos' is set
        if ('id_banco_alimentos' not in params or
                params['id_banco_alimentos'] is None):
            raise ValueError("Missing the required parameter `id_banco_alimentos` when calling `centrocomunitario_find_by_bancode_alimento_id_banco_alimentos_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id_banco_alimentos' in params:
            path_params['idBancoAlimentos'] = params['id_banco_alimentos']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/centrocomunitario/findByBancodeAlimento/{idBancoAlimentos}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[CentroComunitario]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
